<div class="field">
    <%= form.label attribute, label, class: "label" %>
    <div class="control">
        <%= form.password_field attribute, class: "input", placeholder: placeholder %>
    </div>
</div>