<section class="container">
    <div class="box">
        <h1 class="title">Enter your Login Info</h1>
        <%= form_with model: @user do |form| %>
            <%= render partial: "controls/input", locals: {
                form: form,
                attribute: :username,
                label: "Username",
                placeholder: 'Username'
            }%>

            <%= render partial: "controls/password", locals: {
                form: form,
                attribute: :password,
                label: 'Password',
                placeholder: 'Password'
            } %>

            <%= form.submit "Login", class: "button is-info" %>
        <% end %>
    </div>
</section>